#started {
  padding: 0rem 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#started li {
  list-style-type: none;
  text-align: end;
  padding-bottom: 1.5rem;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px rgb(199, 192, 192);
}

#started .list {
  color: rgb(58, 177, 155);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

#started .container {
  background-color: #ffffff;
  padding: 4rem 10rem;
  box-shadow: 0.2rem 0.2rem 0.4rem 0.5rem rgb(233, 230, 230);
}

#started .content {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

#started .content h2 {
  font-size: 2.4rem;
}

#started .content p {
  font-size: 1.6rem;
}

#started .steps {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}

#started .step {
  background-color: #F6F6F6;
  padding: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 32%;
}

#started .step h1 {
  margin-bottom: 0.6rem;
}

#started .step button {
  background-color: transparent;
  border-radius: 50%;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#started .step p {
  font-size: 1.4rem;
}

#started .start {
  background-color: rgb(58, 177, 155);
  border-radius: 3rem;
  border: none;
  padding: 1.5rem 5rem;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 35%;
  }

  #started {
    padding: 0rem 2rem;
  }

  #started .container {
    padding: 1rem 1rem;
  }

  #started .steps {
    padding: 2rem;
  }

  #started .step {
    padding: 2rem;
    width: 40%;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 35%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}